<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>[matching-goal] 메일 인증</title>
    <style>
        body{
            padding: 0 30px;
        }
        h1{
            font-size:23px;
        }
        p{
            font-size: 15px;
        }
        table{
            background-color: #d3d2d2;
            height: 70px;
            border-radius: 16px;
        }
        td{
            padding : 0 20px;
            text-align: center; vertical-align: middle; font-size: 30px;
        }
    </style>
</head>
<body>

<h1>안녕하세요,<br>팀 매칭 플랫폼 [matching-goal] 입니다.</h1>
<p><br>이메일 인증을 완료하시려면 아래 코드를 화면에 입력해주세요</p>
<table><tr><td th:text="${code}"></td></tr></table>
<p>본 코드는 <a th:text = "${expire}"></a>까지 유효합니다.</p>

</body>
</html>


